//breakpoints for media
$bp-largest:75em;//breakpoint 1200px=> 1200/16
$bp-large:68.75em;//breakpoint 1100px=> 1100/16
$bp-medium:56.25em;//breakpoint 900px=> 900/16
$bp-small:37.5em;//breakpoint 600px=> 600/16
$bp-smallest:31.25em;//breakpoint 500px=> 500/16
$bp-small-400:25em;//breakpoint 400px=> 400/16